# 08-Basic dict

## list vs dict

A `list` is a collection of items in particular order from left to right.  List uses integer number as an index to access the data.<br>

A `dict` is a collection of `key:value` pairs. Each `key` is connected to a `value`.

In [ ]:
x = ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", \
     "FRIDAY", "SATURDAY", "SUNDAY"]
print(type(x), x)
print(x[0], x[4], x[-1])

<class 'list'> ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']
MONDAY FRIDAY SUNDAY

In [ ]:
d = {"MO":"MONDAY", "TU":"TUESDAY", "WE":"WEDNESDAY", "TH":"THURSDAY", \
     "FR":"FRIDAY", "SA":"SATURDAY", "SU":"SUNDAY"}
print(type(d), d)
print(d["MO"], d["WE"], d["SU"])

<class 'dict'> {'MO': 'MONDAY', 'TU': 'TUESDAY', 'WE': 'WEDNESDAY', 'TH': 'THURSDAY', 'FR': 'FRIDAY', 'SA': 'SATURDAY', 'SU': 'SUNDAY'}
MONDAY WEDNESDAY SUNDAY

In [ ]:
d

## creating a dict

dict works like a mapping function from key to its value. <br>
`{ key1:value1, key2:value2, ... }`

keys must be uniqued. Values can be duplicated. <br>

Key can be string, int.  Value can be any data type.

####**Important!!**

Even though, in Python 3.7 the order of the keys stored are the same as when created, but it does not guarantee that this behavior will remain in the future. When we work with `dict`, the order of the keys might be different each time the program is running.  If we need to guarantee the sequence in some order, we have to move the data to a list and sort in the order that we want.

Try 
https://www.jdoodle.com/python3-programming-online/ and change Python runtime to 3.5.1 to see this behavior.

In [ ]:
!python --version

Python 3.7.12

In [ ]:
grades = {"1001": "A", "1002": "A",
         "1003": "B", "1004": "C",
         "1005": "B", "1006": "A"}

for k in grades:
  print(k, grades[k])

1001 A
1002 A
1003 B
1004 C
1005 B
1006 A

key can be float, but may have something unexpected due to approximation.

In [ ]:
d = {0.1:'a', 0.2:'b', 0.3:'c', 0.4:'d', 0.5:'3'}
x = 0.1
d[x]

'a'

In [ ]:
x += 0.1
d[x]

'b'

In [ ]:
x += 0.1
d[x]

KeyError: ignored

empty list & empty dict

In [ ]:
empty_list = []
another_empty_list = list()
empty_dict = {}
another_empty_dict = dict()

print(type(empty_list), empty_list)
print(type(another_empty_list), another_empty_list)
print(type(empty_dict), empty_dict)
print(type(another_empty_dict), another_empty_dict)

<class 'list'> []
<class 'list'> []
<class 'dict'> {}
<class 'dict'> {}

### Example: creating a dict
Create a variable named `d236` to be a `dict` that has three key, value pairs which are "TWO", "THREE", and "SIX" for keys and the corresponding values are 2, 3, and 6.

In [ ]:
d236 = { "TWO":2, "THREE":3, "SIX":6}
d236

{'SIX': 6, 'THREE': 3, 'TWO': 2}

d236x = { 2:"two", 3:"three", 6:"six"}
d236x.keys()

### Exercise 8-1

Write a program that reads one line of input as airport code and province name separated by space to create a dict airports = {"BKK":"Bangkok", "DMK":"Bangkok", "HKT":"Phuket", "CNX":"Chiangmai" }

In [ ]:
x = input()
# BKK Bangkok DMK Bangkok HKT Phuket CNX Chiangmai
x = x.split()
airports = { x[0]:x[1], x[2]:x[3], x[4]:x[5], x[6]:x[7]}

In [ ]:
airports

{'BKK': 'Bangkok', 'CNX': 'Chiangmai', 'DMK': 'Bangkok', 'HKT': 'Phuket'}

## Access data in dict

We can access data in a dict via its key.  If the key is valid, the value will be returned.  If the key is invalid (not in the dict), there will be an error, "KeyError". <br>

We can only get from key -> value. <br>
There is no value -> key.

In [ ]:
grades = {"6130186221": "A", "6230221221": "A",
          "6231009821": "B", "6230543921": "C",
          "6230431521": "B", "6230276821": "A"}

In [ ]:
# access data in dict via key
grades['6130186221']

'A'

In [ ]:
grades['6230431521']

'B'

In [ ]:
# what happen when key is not in dict
grades['6231010921']

NameError: ignored

In [ ]:
ID = input()
while ID != "q":
    print(ID, "-->", grades[ID])
    ID = input()

### `if k in dict / if k not in dict`

Before access the dict, you should make sure that the key to be accessed in in the dict.

In [ ]:
grades = {"6130186221": "A", "6230221221": "A",
          "6231009821": "B", "6230543921": "C",
          "6230431521": "B", "6230276821": "A"}

ID = input()
while ID != "q":
    if ID in grades:
        print(ID, "-->", grades[ID])
    else:
        print(ID, " not found")
    ID = input()

6231009821
6231009821 --> B
6230543921
6230543921 --> C
64333333321
64333333321  not found
24523452
24523452  not found
q

### Exercise 8-2

Create a variable named `count_alpha` as a dict that has key as all English alphabets (upper and lower cases), and has all values as 0.

In [ ]:
alphabets = 'abcdefghijklmnopqrstuvwxyz'
alphabets += alphabets.upper()
count_alpha = {}
for c in alphabets:
    count_alpha[c] = 0
count_alpha

{'A': 0,
 'B': 0,
 'C': 0,
 'D': 0,
 'E': 0,
 'F': 0,
 'G': 0,
 'H': 0,
 'I': 0,
 'J': 0,
 'K': 0,
 'L': 0,
 'M': 0,
 'N': 0,
 'O': 0,
 'P': 0,
 'Q': 0,
 'R': 0,
 'S': 0,
 'T': 0,
 'U': 0,
 'V': 0,
 'W': 0,
 'X': 0,
 'Y': 0,
 'Z': 0,
 'a': 0,
 'b': 0,
 'c': 0,
 'd': 0,
 'e': 0,
 'f': 0,
 'g': 0,
 'h': 0,
 'i': 0,
 'j': 0,
 'k': 0,
 'l': 0,
 'm': 0,
 'n': 0,
 'o': 0,
 'p': 0,
 'q': 0,
 'r': 0,
 's': 0,
 't': 0,
 'u': 0,
 'v': 0,
 'w': 0,
 'x': 0,
 'y': 0,
 'z': 0}

### Exercise 8-3

This program has a variable named `student1` stores a student's data.  Write read_data() function that reads keyboard input that has student_id, first-lastname, birthdate, birthmonth, birthyear (separated by comma and space) then store s in a dict that similar to `student1` and return that as function's result.  For example, <br>

**Input**
- 4230000021, Natalie P., 9, 6, 1981

**Result from read_data**
- `{"ID": "4230000021", "Name":"Natalie P.", "Birthdate": [9, 6, 1981]}`

In [ ]:
def read_data():
    x = input().split(", ")
    d = {"ID": x[0],
         "Name": x[1],
         "Birthdate": [int(x[2]), int(x[3]), int(x[4])]}
    return d

student1 = {"ID": "5830000021", 
            "Name": "Pranpriya M.", 
            "Birthdate": [27, 3, 1997]}
student2 = read_data()
print(student2)

123456, Aung, 4, 4, 1982
{'ID': '123456', 'Name': 'Aung', 'Birthdate': [4, 4, 1982]}

## Add/Update value in dict

When you assign a data to a key, if the key is not in dict, `key:data` will be added to the dict. If the key is already in dict, the data will  replace the original value.

In [ ]:
d = {}
d[2] = 'abc'
d

{2: 'abc'}

In [ ]:
d['x'] = 5
d

{2: 'abc', 'x': 5}

In [ ]:
d[3] = 0
d

{2: 'abc', 3: 0, 'x': 5}

In [ ]:
d[2] = '+++'
d

{2: '+++', 3: 0, 'x': 5}

In [ ]:
grade = { }   # empty dict 
n = int(input())
for k in range(n):
  ID, g = input().split()
  grade[ ID ] = g
print(grade)

4
1 A
2 B
3 C
4 E
{'1': 'A', '2': 'B', '3': 'C', '4': 'E'}

### Example: Voting

Have a list of names
Input name votes
```
BLACKPINK = ["Jisoo", "Jennie", "Rosé", "Lisa"]
Lisa Lisa Lisa Lisa Jennie Aum Jisoo Lisa
```
Show vote result

In [ ]:
BLACKPINK = ["Jisoo", "Jennie", "Rosé", "Lisa"]
votes = {}               # create empty dict
for name in BLACKPINK:
  votes[name] = 0      # add new key: value into dict
# {"Jisoo": 0, "Jennie": 0, "Rosé": 0, "Lisa": 0}

votes

{'Jennie': 0, 'Jisoo': 0, 'Lisa': 0, 'Rosé': 0}

In [ ]:
names = input().split()
for name in names:
  if name in BLACKPINK:
    votes[name] += 1  # increment value

votes

Lisa Lisa Lisa Lisa Jennie Aum Jisoo Lisa

{'Jennie': 1, 'Jisoo': 1, 'Lisa': 5, 'Rosé': 0}

In [ ]:
for name in BLACKPINK:
  print(name, "-->", votes[name]) # get value

Jisoo --> 1
Jennie --> 1
Rosé --> 0
Lisa --> 5

In [ ]:
for name in BLACKPINK:
    if votes[name] > 4:
        print(name, "-->", votes[name])

Lisa --> 5

### Exercise 8-4

Write a function `add(points, members, extra)` that takes
- a dict,  `points` that stores the data in the formate { member_id:point } 
- a list, `members` that stores member ids
- an integer, `extra` as reward points that will be added to dict `points` for each member specified in `members`

This function only updates `points` and will return nothing.

In [ ]:
# points -> { 'X001':200, 'X002':100, 'X003':1000, 'X004': 150}
# members -> ['X001', 'X003']
# extra -> 30
# points should be { 'X001':200+30, 'X002':100, 'X003':1000+30, 'X004': 150}
def add(points, members, extra):
    for member in members:
        if member in points:
            #points[member] = points[member] + extra
            points[member] += extra

x = { 'X001':200, 'X002':100, 'X003':1000, 'X004': 150}
y = ['X001', 'X003', 'X002']
z = 500
print(x)
add(x, y, z)
print(x)

{'X001': 200, 'X002': 100, 'X003': 1000, 'X004': 150}
{'X001': 700, 'X002': 600, 'X003': 1500, 'X004': 150}

## Access every key in dict

###`for each_key in a_dict`

Note: If this program is running with Python 3.7, the order of keys will be the same as the order of creating but it does not guarantee that this behavior will remain in later version of Python. (Python in Grader also has random order of keys)

In [ ]:
ordinal = {"first": 1, "second": 2, "third": 3, 
           "fourth": 4, "fifth": 5, "sixth": 6, 
           "seventh": 7, "eighth": 8,
           "ninth": 9, "tenth": 10 }

for key in ordinal:
  print(key, "-->", ordinal[key] )

first --> 1
second --> 2
third --> 3
fourth --> 4
fifth --> 5
sixth --> 6
seventh --> 7
eighth --> 8
ninth --> 9
tenth --> 10

### `dict.keys(), dict.values(), dict.items()`

In [ ]:
ordinal.keys()

dict_keys(['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'])

In [ ]:
print(ordinal.keys())
print(sorted(ordinal.keys()))
for key in sorted(ordinal.keys()):    
    print(ordinal[key])

dict_keys(['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth', 'tenth'])
['eighth', 'fifth', 'first', 'fourth', 'ninth', 'second', 'seventh', 'sixth', 'tenth', 'third']
8
5
1
4
9
2
7
6
10
3

In [ ]:
ordinal.values()

dict_values([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [ ]:
ordinal.items()

dict_items([('first', 1), ('second', 2), ('third', 3), ('fourth', 4), ('fifth', 5), ('sixth', 6), ('seventh', 7), ('eighth', 8), ('ninth', 9), ('tenth', 10)])

In [ ]:
# create reverse_ordinal
reverse_ordinal = {}
for key, value in ordinal.items():
    reverse_ordinal[value] = key
reverse_ordinal

{1: 'first',
 2: 'second',
 3: 'third',
 4: 'fourth',
 5: 'fifth',
 6: 'sixth',
 7: 'seventh',
 8: 'eighth',
 9: 'ninth',
 10: 'tenth'}

In [ ]:
for key in sorted(reverse_ordinal.keys(), reverse=True):
    print(key, reverse_ordinal[key])

10 tenth
9 ninth
8 eighth
7 seventh
6 sixth
5 fifth
4 fourth
3 third
2 second
1 first

In [ ]:
#sorted([[len(e), e] for e in ordinal])
print(ordinal)

print(sorted([[len(e), e] for e in ordinal], reverse=True))

for [x1, x2] in sorted([[len(e), e] for e in ordinal], reverse=True):
    print(x2, ordinal[x2])

{'first': 1, 'second': 2, 'third': 3, 'fourth': 4, 'fifth': 5, 'sixth': 6, 'seventh': 7, 'eighth': 8, 'ninth': 9, 'tenth': 10}
[[7, 'seventh'], [6, 'second'], [6, 'fourth'], [6, 'eighth'], [5, 'third'], [5, 'tenth'], [5, 'sixth'], [5, 'ninth'], [5, 'first'], [5, 'fifth']]
seventh 7
second 2
fourth 4
eighth 8
third 3
tenth 10
sixth 6
ninth 9
first 1
fifth 5

### Exercise 8-5

Write a function `get_courseIDs(number_of_students, k)` where:
- `number_of_students` is a dict that stores data in format  {course_id: total_student_registered}
- `k` is an integer number

This function returns a list of all course ids that has total number of students registered at least `k` people.  The course ids should be sorted in ascending order.

In [ ]:
def get_courseIDs(number_of_students, k):
    courses = []
    for key in number_of_students :
      if int(number_of_students[key]) >= k :
        courses.append(key)
    return sorted(courses, reverse=False)

d = {"2190101":"55", "2190415":"60", "2190443":"25"}
print(get_courseIDs(d,55))

['2190101', '2190415']

## Examples

### Is a value in the dict?

In [ ]:
ordinal = {"first": 1, "second": 2, "third": 3, 
           "fourth": 4, "fifth": 5, "sixth": 6, 
           "seventh": 7, "eighth": 8,
           "ninth": 9, "tenth": 10 }

# is a key in dict?
'third' in ordinal
'forth' in ordinal.keys()

False

In [ ]:
# is 3 in the dict's value?
3 in ordinal

False

In [ ]:
3 in ordinal.values()

True

In [ ]:
12 in ordinal.values()

False

### What are the keys that has value x

In [ ]:
d = {'a':3, 'b':2, 'c':3, 'd':1, 'e':1}
x = 2
result = []
for k in d:
    if d[k] == x:
        result.append(k)
print(result)

['b']

In [ ]:
x = 6
result = []
for k, v in d.items():
    if v == x:
        result.append(k)
print(result)

[]

### Average value in a dict

In [ ]:
def average( d ):   # d is a dict that have values as number
    # sum of all values / number of value
    total = 0
    for k, v in d.items():
        total += v
    return round(total/len(d), 2)

gpa = {"6130186221": 3.15, "6230221221": 2.85,
       "6231009821": 2.90, "6230543921": 3.20,
       "6230431521": 3.35, "6230276821": 3.42,
       "234234": 3.05}

print( average(gpa) ) # should be 3.145
len(gpa)

3.13

7

### Mapping x -> y, y -> x

In [ ]:
d1 = {'2':'two', '3':'three', '4':'four'}
d2 = {'two':'2', 'three':'3', 'four':'4'}
x = input()
if x in d1:
    print(d1[x])
elif x in d2:
    print(d2[x])
else:
    print('not found')

two
2

### Show dict result in different order

In [ ]:
d1 = {2:'two', 3:'three', 4:'four'}
d2 = {'two':2, 'three':3, 'four':4}

for k in sorted(d1.keys(), reverse=True):
    print(k, d1[k])

key_len = sorted([[len(e), e] for e in d2.keys()], reverse=True)
key_len

4 four
3 three
2 two

[[5, 'three'], [4, 'four'], [3, 'two']]

### dict access time

In [ ]:
import time
def search_all(X):
  b = time.time()
  n = len(X)
  for i in range(n):
    if i in X:     # True
      pass
  for i in range(n):
    if (n+1) in X: # False
      pass
  print(time.time() - b)

n = 10000
L = []
for i in range(n): 
  L.append(i)
D = {}
for i in range(n): 
  D[i] = i

search_all(L)
search_all(D)

2.285677909851074
0.0019452571868896484

## Grader Exercises

### Using doctest() to run test cases

```
'''
>>> function_name(arg1, arg2)
expected_output1
>>> function_name(arg3, arg4)
expected_output2
'''

import doctest
doctest.testmod() # to tess all functions
doctest.run_docstring_examples(function_name, globals()) # to test a specific function
```

`doctest` **does not** work with `input()`.

In [ ]:
def add(x, y):
    '''
    >>> add(2, 3)  
    5
    >>> add(-2, 3)
    1
    '''
    return x + y

if __name__ == "__main__":
    import doctest
    #doctest.testmod()  # to test all functions
    doctest.run_docstring_examples(add, globals()) # to test a specific function
print('done')

done

### Alphabet count


```
Input: 
ABCabcABZ

Output:
a -> 3
b -> 3
c -> 3
z -> 1
```

In [ ]:
def show_dict(d):
    '''
    >>> show_dict(alphabet_count('ABCabcABZ'))
    a -> 3
    b -> 3
    c -> 2
    z -> 1
    '''
    for k, v in d.items():
        print(k, '->', v)

def alphabet_count(s):
    '''
    >>> alphabet_count('ABCabcABZ')
    a -> 3
    b -> 3
    c -> 2
    z -> 1
    '''
    alphabets = "abcdefghijklmnopqrstuvwxyz"
    alphabet_counts = {}
    for c in s.lower():
        if c in alphabets:
            # get something to count
            if c not in alphabet_counts:
                alphabet_counts[c] = 1
            else:
                alphabet_counts[c] += 1

    return alphabet_counts

import doctest
doctest.run_docstring_examples(alphabet_count, globals())
#doctest.run_docstring_examples(show_dict, globals())

**********************************************************************
File "__main__", line 14, in NoName
Failed example:
    alphabet_count('ABCabcABZ')
Expected:
    a -> 3
    b -> 3
    c -> 2
    z -> 1
Got:
    {'a': 3, 'b': 3, 'c': 2, 'z': 1}

### Two functions

In [ ]:
# input:  { "A": "a", "B": "b", "C": "c" }
# result: { "a": "A", "b": "B", "c": "C" }
def reverse(d) : # d is a dict that has unique values
    r = {}

    return r

In [ ]:
# find all keys that has same value, v
# return list of keys that has value equals to v
def keys( d, v ): 
    x = []

    return x

### Nickname, Fullname
Write a program that take nickname and display fullname or takes fullname and display nickname using dict

In [ ]:
def find_name(d) : # d is a dict with pairs fullname:nickname
    name = ''
    return name

names = {'Robert':'Dick', 'William':'Bill', 'James':'Jim', 'John':'Jack' \
         'Margaret':'Peggy', 'Edward':'Ed', 'Sarah':'Sally', \
         'Andrew':'Andy', 'Anthony':'Tony', 'Deborah':'Debbie'}

print(find_name('Robert'))) # Dick
print(find_name('Dick'))) # Robert
print(find_name('Steve'))) # Not found
'''
Robert	 ⇔ 	Dick
William	 ⇔ 	Bill
James	 ⇔ 	Jim
John	 ⇔ 	Jack
Margaret	 ⇔ 	Peggy
Edward	 ⇔ 	Ed
Sarah	 ⇔ 	Sally
Andrew	 ⇔ 	Andy
Anthony	 ⇔ 	Tony
Deborah	 ⇔ 	Debbie 
'''

### Ice cream sales
```
Input:
- n, number of ice cream types, follows by n lines of
- ice_creame_type item_price

- n_sold, number of item sold, follows by n_sold lines of 
- ice_cream_type amount_sold

Output:
Total ice cream sales = ...
```

In [ ]:
# get input and create an ice_cream_price dict {icecream_type:price}